@font-face {
    font-family: 'SeafordBoldItalic';
    src: url('../fonts/SeafordBdIt.ttf') format('truetype');
}

@font-face {
    font-family: 'SeafordBold';
    src: url('../fonts//SeafordBold.ttf') format('truetype');
}

@font-face {
    font-family: 'SeafordRegItalic';
    src: url('../fonts/SeafordRgIt.ttf') format('truetype');
}

body {
    background: url('../images/brickwall001tf2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

    color: white;



    text-align: center;

    
    margin: auto;
    width: 60%; height: 60%; 
}

.welcome {
    font-family: 'SeafordBold';
    text-shadow: 4px;
}

h1 {
    font-family: 'SeafordBoldItalic';
    color: coral;
    text-shadow: 2px 2px black ;
}

p {
    font-family: "SeafordRegItalic";
}

h2 {
    font-family: "SeafordBold";
}

h3 {
    font-family: "SeafordBoldItalic";
    color: coral;
    text-shadow: 2px 2px black ;
}

li {
    font-family: "SeafordBold";
}

.boxheader{

    height: 50%;
    width: 50%;
    background-image: url('../images/timallen.jpg');
    background-size: 3%;
    background-repeat: repeat-x;
    padding-left: 25%;
    padding-right: 25%;

}

.box   {
    height: 150px;
    width: 100px;
}
.box2 {
    height: 25px;
    width: 100px;
}